
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	body
	{
		font-size: 1.2em;
	}

/*
	input,textarea,select
	{
		font-size: 0.6em;
	}
	*/
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header	{		width: 20%;	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer	{		margin-left: 20%; }
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {margin-left: 20%;	}
	
#foto_perfil { width:50%;}

#imagen_anuncio_propio  { width:50%;}

#imagen_usuarios  { width:50%;}


#menu1 ul li a  {font-size:1em;  }

#menu_horizontal {font-size:1.2em; }

#imagen_anuncio { width:30%; }

#boton2 {width:30%; }